*.o
.deps
.dirstamp
Makefile
Makefile.in
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
depcomp
compile
install-sh
missing
stamp-h1
autom4te.cache

src/hcidump
src/bpasniff
src/csrsniff
